@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body{
    background-color: #1b1b1b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.ant-form-item label input {
    font-weight: 500;
    font-size: 15px;
    color: rgb(107 114 128);
  }