// .background-home {
//   background-image: url(../public/background.jpg);
//   background-repeat: no-repeat;
//   background-position-x: center;
//   height: 100vh;
//   // opacity: 0.2;
// }

.background{
  max-width: 1280px;
  margin: 0 auto;
  padding: 20rem 0;
}