.containerLanding {
  height: 100vh;
}

.containerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0;
}

.containerRegister:hover {
  box-shadow: 20px 16px 40px 10px hsla(0, 0%, 92%, 0.9);
}

.regFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.antD {
  margin-right: 4px;
}
.containerFlexInput {
  padding: 8px 11px 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.containerBoth {
  width: 100%;
  margin-bottom: 1.75rem;
}

.textInput {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 0 6px;
}
.input {
  font-family: Montserrat;
  border: none;
  height: 3rem;
  width: 100%;
  border-radius: 8px;
  font-size: 0.9rem;
  box-shadow: 0px 1px 9px 0px hsl(0deg 0% 0% / 11%);
}

.input:focus {
  outline: none;
}

.fptext {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: right;
  transition: 0.1s ease-in-out;
}

.fptext:hover {
  color: #000000cc;
}

.App {
  font-family: "Montserrat";
  width: 100%;
}

.App :global {
  a:hover {
    color: inherit;
  }
  .ant-btn-primary {
    box-shadow: 15px 14px 80px 2px hsl(247.85deg 72.33% 25.57% / 5%);
  }
  .ant-input-affix-wrapper {
    padding: 4px 11px;
    height: 3rem;
  }
  .ant-form-item-control {
    font-family: "Montserrat";
    font-weight: 300;
    border-radius: 8px;
  }

  .ant-form-item-label {
    font-family: "Montserrat";
    padding: 0 0 12px;
  }

  .ant-form label {
    font-weight: 500;
    font-size: 15px;
    color: rgb(107 114 128);
  }
  .ant-input {
    border-width: 0px;

    background-color: inherit;
    color: rgb(98 102 121);
  }
  ::placeholder {
    font-weight: 400;
    color: rgb(107 114 128);
  }

  .ant-checkbox-wrapper {
    font-family: Montserrat;
  }
  .login-form {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  .loginFormForgot {
    font-weight: 500;
    transition: 0.15s ease-in-out;
    float: right;
    color: rgb(107 114 128);
  }

  .loginFormForgot:hover {
    color: rgb(156 163 175);
  }

  .login-form-button {
    font-family: Montserrat;
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
  }
  .ant-btn-primary:not(:disabled):hover {
    background-color: #121212;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .input-form {
    border: none;
  }

  .reqinv {
    margin-top: 0.5rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }
  .reqinv span a {
    transition: 0.25s ease-in-out;
  }
  @media only screen and (max-width: 400px) {
    .ant-form-item-control-input-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .reqinv {
      flex-direction: column;
    }
  }

  .anticon.ant-input-password-icon {
    color: rgb(90 90 90 / 45%);
  }
  .ant-input-affix-wrapper {
    background-color: inherit;
    color: rgb(107 114 128);
  }
  .ant-input {
    background-color: inherit;
  }
  .backtohome {
    font-weight: 500;
    transition: 0.15s ease-in-out;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(107 114 128);
  }

  .backtohome:hover {
    color: rgb(156 163 175);
  }
}

@media only screen and (max-width: 425px) {
  .text {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 0.75rem;
  }
}

// req

.containerReq:hover {
  box-shadow: 20px 16px 40px 10px hsla(0, 0%, 92%, 0.9);
}

.App :global {
  .req-form {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
