.input-form {
  width: 20rem;
  height: 3rem;
  padding: 0.6rem;
  border-radius: 0.2rem;
  background: none;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.input-form:hover{
  box-shadow: rgba(39, 40, 40, 0.2) 0px 8px 24px;
}


// input:focus {
//   outline-style: blue;
// }
.form-button {
  height: 2.5rem;
  font-size: 1rem;
}

.containerLanding{
  padding: 15rem 0;
}

