.nav {
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #000000c2;
  height: 45px;
}

.Link {
  transition: 0.2s ease-in-out;
}

.Link:hover {
  color: rgb(156, 163, 175);
}
